.addnew-user-page {
  padding: 0 20%;
}
.addnew-user-page > h3 {
  text-align: center;
}
.addnew-user-page > button {
  justify-content: center;
}
.submit-btn {
  width: 100%;
}
.check-box-group {
  display: flex;
  gap: 20px;
}
.group-choose {
  display: flex;
  gap: 20px;
}
