/* .styled-table {
  width: 60%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.uplist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}
.uplist > button {
  padding: 0px 30px;
  height: 38px;
}

.form-addnew-user > form > label {
  min-width: 200px;
}

.table-users {
  text-align: center;
  padding: 0 40px;
}
.table-user-block {
  display: flex;
  justify-content: center;
}
.btn-action > button {
  margin-right: 10px;
} */
.table-users {
  padding: 0 20%;
}
.table-users > h2 {
  text-align: center;
}